<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Testcase bug 277208 - A lot of nested marquees can make Mozilla freeze</title>
</head>
<body>
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#0F0000" width="250">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#1F0000" width="120">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#2F0000" width="60">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#3F0000" width="45">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#4F0000" width="33">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#5F0000" width="25">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#6F0000" width="22">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#7F000" width="18">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#8F0000" width="15">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#9F0000" width="12">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#AF0000" width="10">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#BF0000" width="8">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#CF0000" width="6">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#DF0000" width="4">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#EF0000" width="3">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#FF0000" width="2">
<center>
<marquee direction="right" behavior="alternate" scrollamount="1" bgcolor="#FF8080" width="1">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>
</center></marquee>



















</center>


</body></html>