<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"><style type="text/css">
 div{position:fixed; background-image:url('https://bugzilla.mozilla.org/attachment.cgi?id=170842');width:25px;height:25px}
</style>

</head><body>

<div style="top:0px;left:0px"></div>
<div style="top:50px;left:0px"></div>
<div style="top:100px;left:0px"></div>
<div style="top:150px;left:0px"></div>
<div style="top:200px;left:0px"></div>
<div style="top:250px;left:0px"></div>
<div style="top:300px;left:0px"></div>
<div style="top:350px;left:0px"></div>
<div style="top:400px;left:0px"></div>
<div style="top:450px;left:0px"></div>
<div style="top:500px;left:0px"></div>

<div style="top:25px;left:50px"></div>
<div style="top:75px;left:50px"></div>
<div style="top:125px;left:50px"></div>
<div style="top:175px;left:50px"></div>
<div style="top:225px;left:50px"></div>
<div style="top:275px;left:50px"></div>
<div style="top:325px;left:50px"></div>
<div style="top:375px;left:50px"></div>
<div style="top:425px;left:50px"></div>
<div style="top:475px;left:50px"></div>
<div style="top:525px;left:50px"></div>

<div style="top:0px;left:100px"></div>
<div style="top:50px;left:100px"></div>
<div style="top:100px;left:100px"></div>
<div style="top:150px;left:100px"></div>
<div style="top:200px;left:100px"></div>
<div style="top:250px;left:100px"></div>
<div style="top:300px;left:100px"></div>
<div style="top:350px;left:100px"></div>
<div style="top:400px;left:100px"></div>
<div style="top:450px;left:100px"></div>
<div style="top:500px;left:100px"></div>

<div style="top:25px;left:150px"></div>
<div style="top:75px;left:150px"></div>
<div style="top:125px;left:150px"></div>
<div style="top:175px;left:150px"></div>
<div style="top:225px;left:150px"></div>
<div style="top:275px;left:150px"></div>
<div style="top:325px;left:150px"></div>
<div style="top:375px;left:150px"></div>
<div style="top:425px;left:150px"></div>
<div style="top:475px;left:150px"></div>
<div style="top:525px;left:150px"></div>

<div style="top:0px;left:200px"></div>
<div style="top:50px;left:200px"></div>
<div style="top:100px;left:200px"></div>
<div style="top:150px;left:200px"></div>
<div style="top:200px;left:200px"></div>
<div style="top:250px;left:200px"></div>
<div style="top:300px;left:200px"></div>
<div style="top:350px;left:200px"></div>
<div style="top:400px;left:200px"></div>
<div style="top:450px;left:200px"></div>
<div style="top:500px;left:200px"></div>

<div style="top:25px;left:250px"></div>
<div style="top:75px;left:250px"></div>
<div style="top:125px;left:250px"></div>
<div style="top:175px;left:250px"></div>
<div style="top:225px;left:250px"></div>
<div style="top:275px;left:250px"></div>
<div style="top:325px;left:250px"></div>
<div style="top:375px;left:250px"></div>
<div style="top:425px;left:250px"></div>
<div style="top:475px;left:250px"></div>
<div style="top:525px;left:250px"></div>

<div style="top:0px;left:300px"></div>
<div style="top:50px;left:300px"></div>
<div style="top:100px;left:300px"></div>
<div style="top:150px;left:300px"></div>
<div style="top:200px;left:300px"></div>
<div style="top:250px;left:300px"></div>
<div style="top:300px;left:300px"></div>
<div style="top:350px;left:300px"></div>
<div style="top:400px;left:300px"></div>
<div style="top:450px;left:300px"></div>
<div style="top:500px;left:300px"></div>

<div style="top:25px;left:350px"></div>
<div style="top:75px;left:350px"></div>
<div style="top:125px;left:350px"></div>
<div style="top:175px;left:350px"></div>
<div style="top:225px;left:350px"></div>
<div style="top:275px;left:350px"></div>
<div style="top:325px;left:350px"></div>
<div style="top:375px;left:350px"></div>
<div style="top:425px;left:350px"></div>
<div style="top:475px;left:350px"></div>
<div style="top:525px;left:350px"></div>

<div style="top:0px;left:400px"></div>
<div style="top:50px;left:400px"></div>
<div style="top:100px;left:400px"></div>
<div style="top:150px;left:400px"></div>
<div style="top:200px;left:400px"></div>
<div style="top:250px;left:400px"></div>
<div style="top:300px;left:400px"></div>
<div style="top:350px;left:400px"></div>
<div style="top:400px;left:400px"></div>
<div style="top:450px;left:400px"></div>
<div style="top:500px;left:400px"></div>

<div style="top:25px;left:450px"></div>
<div style="top:75px;left:450px"></div>
<div style="top:125px;left:450px"></div>
<div style="top:175px;left:450px"></div>
<div style="top:225px;left:450px"></div>
<div style="top:275px;left:450px"></div>
<div style="top:325px;left:450px"></div>
<div style="top:375px;left:450px"></div>
<div style="top:425px;left:450px"></div>
<div style="top:475px;left:450px"></div>
<div style="top:525px;left:450px"></div>

<pre>User-Agent:       Mozilla/5.0 (Windows; U; Windows NT 5.0; en-US; rv:1.4a) Gecko/20030408 Phoenix/0.5+
Build Identifier: Mozilla/5.0 (Windows; U; Windows NT 5.0; en-US; rv:1.4a) Gecko/20030408 Phoenix/0.5+

I discovered this is the site listed above. To verify this, I've visited several
sites in which a certain element can be set to have a position of either fixed
or relative--in all cases, so far, scrolling performance significantly decreases
when the element has a position of fixed. An easy example case follows:

Reproducible: Always

Steps to Reproduce:
10 Go to http://texturizer.net/phoenix/themes.html
20 Scroll -- speed is normal.
30 Move your mouse over the navigation menu.
40 "Lock Menu" should appear at the top of the menu. Click it.
50 Scroll -- speed is slow, very jerky.
60 Move your mouse over the navigation menu.
70 "absolute Menu" should appear at the top of the menu. Click it.
80 GOTO 20: REM ^_^



This may be related to Bug 90198, but doesn't quite fit its direction. Bug 98252
also seems like it _could_ be related. 

I'm not sure how well I've isolated this, but it seems that on pages including
fixed elements, scrolling is slowed considerably. Smooth-scroll, in particular,
can be very bad. Presently, I've focused on the CSS 'position: fixed' part of
this problem, but especially at the listed URL, there may be other nefarious
things at work.


------- Additional Comment #1 From Hermann Schwab 2003-04-09 04:17 -------

WFM Mozilla/5.0 (Windows; U; Win98; en-US; rv:1.4b) Gecko/20030408

Product should be PHOENIX


------- Additional Comment #2 From Hermann Schwab 2003-04-09 04:28 -------

WFM Mozilla/5.0 (Windows; U; Win98; en-US; rv:1.4a) Gecko/20030408 Phoenix/0.5+
Athlon XP1600+ nForce 


------- Additional Comment #3 From Jo Hermans 2003-04-09 07:44 -------

Well, I though it was a well-known problem, and I've seen it lots of times. I've
removed the fixed background on my website because of this. For me it's a dupe
of bug 90198.


------- Additional Comment #4 From Hermann Schwab 2003-04-09 10:37 -------

WFM Mozilla/5.0 (Windows; U; Win98; en-US; rv:1.4b) Gecko/20030408
Celeron 333 MHz 96 MB Ram, SiS6326 Graphicscard (8 MB)

With this computer I see a difference in scroll speed, but speed is reasonable
fast in both cases. Both computers 800x600. But with both computers I had to
wait long, till all images from Phoenix Help were loaded.
On the w3.org testpage I didn´t see a remarkable effect, wouldn´t have noticed
slowness.


------- Additional Comment #5 From Jo Hermans 2003-04-09 13:57 -------

Actaully, for this particular page, it's a WFM (build 2003040910 on Mac OS X
10.2.4), even on my old 300 MHz iBook. The smooth-scrolling is the biggest
contributing factor. We've progressed immensily the last few months.

BTW: most of the urls in bug 90198 are about a fixed background. This bug is
about fixed positioning, and I think it's a dupe of another bug.


------- Additional Comment #6 From John McCormick 2003-04-09 19:21 -------

For reference: 
Athlon 800Mhz (384MB PC100)
GeForce4 Ti 4400 (128MB DDR)

After seeing the WFM comments, I checked the pages again to see if I was crazy.
I got no significant slowdown, and couldn't figure out why. I think I'm getting
there, though. I've done some more testing, and am downloading a mozilla nightly
to see if this is phoenix-specific. 

I am able to reproduce the problem by having certain other programs running
(though idle) at the same time as Phoenix. It seems to be a very binary thing;
either scrolling is seriously hampered, or it isn't. (And, well, yes--fixed
elements slow down a page even when this problem isn't present, but not by
nearly as much.) This reminds me of comments 18-22 or so in Bug 90198. 

The program that causes the slowdown, on my machine, is a java-based text editor
(jEdit; http://www.jedit.org/). Any time it is open, the problem is present on
pages with fixed elements. Other pages seem unaffected, but that may be just
because of the inherent performance differences. 

Additionally, (and this is strange) if I set the windows Task Manager to display
as 'always on top', and leave it over a page without fixed elements, that page
suffers from the same performance drop that pages with fixed elements do. This
seems to be less true of Winamp and the windows CD player, perhaps because they
take up less screen-space. That seems like it could be windows-specific; has
anyone encountered this in unix/linux? 

Additionally, can anyone recommend some other java-based GUI programs to test
against?


------- Additional Comment #7 From John McCormick 2003-04-09 19:33 -------

just adding that I've confirmed I run into the problem in Mozilla as well as
Phoenix.


------- Additional Comment #8 From José Jeria 2003-04-10 00:53 -------

I see the choppy scrolling, but that happends with and without the menu being
fixed. Also blocking the images (remove background image) doesnt help. It gets
choppy in the top, where all the thumbnails are.


------- Additional Comment #9 From John McCormick 2003-04-10 03:33 -------

I've noticed that as well, but it's a different issue. If you are encountering
this, it'll be pretty drastic, and bad even down below the big image grid.


------- Additional Comment #10 From Stefan Borggraefe 2003-04-22 17:10 -------

Marking NEW to get this somewhere. I couldn´t find a bug that explicitly deals
with fixed elements in general. I´m adding a dependency to bug 90198 which is
about fixed backgrounds.
Furthermore I believe this should block Bug 198964 ("Enable/disable smooth
scroll by default") since this bug is much worse when smooth scrolling is enabled.
</pre>


</body></html>