<html><head><title>Bug 747493 - Craiglist Forums Unusable</title></head>
<frameset rows="50%,50%">
    <frame src="data:text/html;charset=utf-8,%3Cbody%20style%3D%22background%3A%20lime%3B%22%3Eframe%201%3Cdiv%20style%3D%22width%3A%20150%25%3B%20height%3A%20150%25%3B%20border%3A%204px%20solid%20blue%3B%22%3E%3C/div%3Eframe%201%3C/body%3E" />
    <frameset cols="50%,50%">
        <frame src="data:text/html;charset=utf-8,%3Cbody%20style%3D%22background%3A%20yellow%3B%22%3Eframe%202%3Cdiv%20style%3D%22width%3A%20150%25%3B%20height%3A%20150%25%3B%20border%3A%204px%20solid%20blue%3B%22%3E%3C/div%3Eframe%202%3C/body%3E" />
        <frame src="data:text/html;charset=utf-8,%3Cbody%20style%3D%22background%3A%20red%3B%22%3Eframe%203%3Cdiv%20style%3D%22width%3A%20150%25%3B%20height%3A%20150%25%3B%20border%3A%204px%20solid%20blue%3B%22%3E%3C/div%3Eframe%203%3C/body%3E" />
    </frameset>
</frameset>
</html>