<html style="overflow: auto;">
<head><base target="f2">

<style>

#index #f2{
position:absolute;	left:125px;
height:90%;
top:0px;	
bottom:90px; 
right:1px;}

#index #f3{position:absolute;	height:50px;	left:10px;	bottom:0px;	border: 3px solid black; border-bottom: 0px;}



</style>
</head>
<body class="index" style="overflow:hidden" id="index">
<div id="f1">

<a href="data:text/html;charset=utf-8,%3Cbody%20style%3D%22background%3A%20lime%3B%22%3E">lime</a><br>
<a href="">lime</a><br>
</div>
<div id="f2">
	<iframe title="hoofdpagina" width="100%" name="f2" height="100%" frameborder="0"></iframe>
</div>
<script>
function doe() {
window.frames[0].location = 'data:text/html;charset=utf-8,%3Cbody%20style%3D%22background%3A%20red%3B%22%3E';
}
setTimeout(doe, 2000);
</script>
</body></html>