<html><head>

  <title>Bug 678193 - css transform and javascript bind equals no function call</title>

</head><body>
<iframe style="width: 200px; height: 200px;  " src="https://bugzilla.mozilla.org/attachment.cgi?id=552373"></iframe><br>

<iframe style="width: 200px; height: 200px; -moz-transform: translate(100px,100px); " src="https://bugzilla.mozilla.org/attachment.cgi?id=552373"></iframe>

<div style="height: 1800px; width: 300px; borde: 5px dotted black;"></div>

<iframe style="width: 200px; height: 200px;  " src="https://bugzilla.mozilla.org/attachment.cgi?id=552373"></iframe><br>

<iframe style="width: 200px; height: 200px; -moz-transform: translate(100px,100px); " src="https://bugzilla.mozilla.org/attachment.cgi?id=552373"></iframe>

</body>
</html>